/* Importing the IM Fell French Canon Font */
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon&display=swap');


body{
    font-family: 'IM Fell French Canon', serif;
}

#showcase{
    /* bgi */
    background-image: url("images/red\ wine.jpeg");
    background-size: cover;
    background-position: center;
    }

    /* Media Queries */
    @media (min-width: 992px){
        .card-text{
            height: 110px;
        }
    }
    @media (min-width: 1200px){
        .card-text{
            height: 90px;
        }
    }
    @media (min-width: 1400px){
        .card-text{
            height: 70px;
        }
    }